@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #4d4d4e;
}

/* headings and logo */

h1  {
    font-family: 'Share Tech', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #f2a900;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* Navbar */

#menu {
    font-size: 110%;
    letter-spacing: 2px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
    font-weight: 700;
}

#menu a {
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
}

#menu a:hover {
    border-bottom: 1px solid #f2a900;
}

/* Hero image and text */

#hero-container {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image img {
    width: 450px;
    height: 450px;
    padding-left: 150px;
    padding-top: 75px;
}

#cover-text {
    font-size: 130%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 50%;
    height: 100%;

    bottom: 0px;
    right: 0px;

    position: absolute;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#cover-text h2 {
    color: #f2a900;
    margin-bottom: 30px;
    font-size: 80px;
    font-family: 'Share Tech', sans-serif;
}

#cover-text h3 {
    padding: 20px;
    text-align: center;
}

.more-info-text {
    font-size: 0.8em;
}

.fa {
    color: #f2a900;
    margin-top: 10px;
}

.fa:hover {
    color: #4d4d4e;
}

/* About / Second Section */
#about-container {
    width: auto;;
    height: 650px;
    background-color: #f2a900;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
    color: #fff;
}

#about-container h2 {
    padding: 30px;
    font-size: 60px;
    color: #fff;
    font-family: 'Share Tech', sans-serif;
}

#about-text-container{
    line-height: 30px;
}

#about-text-container ul li {
    list-style: none;
}

#about-white-paper-container {
    margin-top: 30px;
}

#about-white-paper-container h3 {
    font-size: 30px;
}

#about-white-paper-container a {
    color: #fff;
}

#about-white-paper-container a:hover {
    color: #4d4d4e;
}


/* Timeline / Third Section */
#timeline-section-container {
    width: auto;
    height: 600px;
    background-color: #fff;
}

#timeline-section-container h2 {
    font-size: 60px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: #f2a900;
    font-family: 'Share Tech', sans-serif;
}

#timeline-section-container p {
    text-align: center;    
    font-size: 1.2rem;
    margin-top: 20px;
}

#timeline-section-container table {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    height: 500px;
    width: auto;
}

th {
    text-transform: uppercase;
}

th, tr {
    border-bottom: 2px solid #f2a900;
    padding: 2px;
}

td {
    border-bottom: 1px solid #4d4d4e;
    padding-right: 25px;
}


/* Conctact / Forth Section */
#contact-section-container {
    width: auto;
    height: 600px;
    background-color: #f2a900;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#contact-section-container h2 {
    color: #fff;
    font-size: 60px;
    margin: 20px 0 50px 0;
    font-family: 'Share Tech', sans-serif;
}

#contact-section-container h3 {
    color: #fff;
    margin-bottom: 15px;
    font-weight: 100;
}

#contact-section-form {
    width: 350px;
    padding: 30px;
    /* border: 2px solid red; */
    text-align: center;
    font-size: 1.3rem;
    color: #fff;
}

#contact-section-form input {
    width: 250px;
    height: 25px;
    border-radius: 3px;
    outline: none;
}

#contact-section-form textarea {
    outline: none;
    margin: 10px;
    border-radius: 3px;
    resize: none;
} 

#contact-section-form #submit {
    font-size: 1.1rem;
    width: 100px;
    height: 30px;
    color: #f2a900;
}

#contact-section-form #submit:hover {
    background-color: #4d4d4e;
    color: #fff;
    cursor: pointer;
} 

/* Footer / Final section */
#footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.4rem;
    height: 80px;
}

.footer-container-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer h3 {
    font-weight: 300;
    margin-right: 250px;
}

#footer .social-networks{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.social-networks li {
    list-style-type: none;
}

#footer .fab {
    color: #f2a900;
    font-size: 30px;
    margin-right: 20px;
}

#footer .fab:hover {
    color: #4d4d4e;
}

/* Responsiveness / Media Queries */
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    body {
        width: auto;
    }

    body h2 {
        font-size: 0.85rem;
    }

    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    header #logo {
        margin: 0;
    }

    header nav {
        font-size: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #hero-container {
        width: 100%;
        height: 450px;
    }

    #hero-image {
        width: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    #hero-image img{
        width: 200px;
        height: auto;
        padding: 0;
    }

    #cover-text {
        width: 100%;
        height: auto;
        letter-spacing: 2px;
        bottom: 50px;
    }

    #cover-text h2 {
        margin: 0;
        padding: 0;
        font-size: 40px;
    }

    #cover-text h3 {
        font-size: 15px;
    }

    .more-info-text {
        font-size: 12px;
        font-weight: 100;
    }

    #timeline-section-container {
        height: 500px;
    }

    #timeline-section-container table {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 25px;
        height: 375px;
        width: 700px;
        font-size: 0.85rem;
  }

  #footer h3, #footer p {
    font-size: 20px;
    width: 100%;
  }

  #footer h3 {
    margin-right: 45px;
  }

  .footer-container-left {
    display: flex;
    justify-content: space-evenly;
    margin: 30px;
  }
}

@media only screen and (max-width: 600px) {
    body {
        width: auto;
    }
    nav a{
        font-size: 10px;
    }

    #hero-container{
        width: auto;
    }

    #hero-image {
        height: 200px;
        width: 200px;
        position: relative;
        left: 90px;
    }

    #hero-imgage img{
        width: 250px;
    }

    #cover-text {
        right: 20px;
        top: 230px;
    }

    #cover-text h3 {
        font-size: 0.8rem;
    }

    #cover-text h4 {
        margin-bottom: 15px;
    }
}